name: Dependabot localization router

on:
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write
  contents: read
  actions: read

jobs:
  call_localize_workflows:
    if: ${{ startsWith(github.event.pull_request.user.login, 'dependabot') }}
    
    uses: ./.github/workflows/localize-dependabot-comment.yml
    with:
      pr_number: "${{ github.event.pull_request.number }}"
      pr_title: "${{ github.event.pull_request.title }}"
      pr_body: "${{ github.event.pull_request.body }}"
      pr_url: "${{ github.event.pull_request.html_url }}"
      pr_base_ref: "${{ github.event.pull_request.base.ref }}"
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  call_gemini_localize:
    if: ${{ startsWith(github.event.pull_request.user.login, 'dependabot') }}
    
    uses: ./.github/workflows/gemini-dependabot-localize.yml
    with:
      pr_number: "${{ github.event.pull_request.number }}"
      pr_title: "${{ github.event.pull_request.title }}"
      pr_body: "${{ github.event.pull_request.body }}"
      pr_url: "${{ github.event.pull_request.html_url }}"
      pr_base_ref: "${{ github.event.pull_request.base.ref }}"
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
